
/* 폰트 불러오기 */
@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: "Pretendard-Regular";
     box-sizing: border-box;
 }


/* 기본 적용 시작 */
html, body {
    width: 390px;
    height: 100%;
    margin: 0;
}

body, ul, li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.button {
    border: none;
    border-radius: 40px;
    background-color: #D97652;
    color: white;
    font-size: 16px;
}

.button:hover {
    box-shadow: 3px 4px 11px 0px #00000090;
}

.strong-font {
    font-size: 36px;
    font-weight: 700;
}

/* 기본 적용 종료 */



/* 헤더 시작 */

header {
    background-color: #F2E9D8;
    position: fixed;
    padding-bottom: 10px;
    /* 헤더 고정하면서 생긴 여백 없애기*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 390px;
    height: 76px;

    /* block 수평 정렬 */
    #header_logo {
        float: left;
        margin-top: 24px;
        margin-left: 20px;
        height: 40px;
    }

    #menu-btn {
        background-color: transparent;
        border: none;

        margin-top: 20px;
        margin-left: 200px;

        img {
            width: 32px;
            height: 32px;
        }
    }

}

/* 메뉴 모달창 */
.menu {
    width: 320px;
    height: 820px;
    z-index: 2;
    position: fixed;
    display: none;
    background-color: white;

    #menu-side {
        background-color: #263140;
        position: absolute;

        left: 100px;
        width: 290px;
        height: 820px;
        z-index: 3;


        #back-btn {
                width: 32px;
                height: 32px;
                margin: 22px;
                background-color: transparent;
                border: none;
        }
            ul>li {
                margin: 20px;
                margin-bottom: 50px;
                button {
                    width: 114px;
                    height: 40px;

                    p {
                        font-size: 14px;
                        font-weight: 700;
                        margin: 0;
                    }
                }
            }

        a {
            margin: 10px;
            color: white;
            font-size: 16px;
            font-weight: 700;

        }
    }
}

.menu.menuOn {
    display: block;
}

/* 헤더 종료 */



/* 메인 시작 */

main {
    position: relative;
    width: 100%;
    margin-left: 0;

    #box-cat {
        text-align: center;
        width: 390px;
        height: 820px;
        background-color: #F2E9D8;
        padding-top: 100px;
        padding-bottom: 250px;

        #lorem-main1 {
            width: 251px;
            height: 90px;
            font-size: 24px;
            margin-left: 50px;
            line-height: 30px;
        }

        #lorem-sub1 {
            width: 279px;
            height: 98px;
            font-size: 14px;
            font-weight: 400;
            margin-left: 40px;
            line-height: 18px;
        }

        #dummy-button1 {
            width: 114px;
            height: 40px;
            display: block;
            margin-left: 120px;
            p {
                font-size: 14px;
                font-weight: 700;
                margin: 0;
            }
        }

        img {
            margin-top: 30px;
            width: 197px;
            height: 400px;
        }
    }


    #laying-cat {

        img {
            width: 326px;
            height: 190px;
            margin-top: 20px;
            margin-left: 36px;
        }

        #lorem-main2 {
            width: 326px;
            height: 90px;
            line-height: 45px;
            font-size: 24px;
            line-height: 30px;
            margin-left: 45px;
        }

        #lorem-sub2 {
            width: 326px;
            height: 36;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            margin-left: 45px;
        }
    }

    #multi-cat {
        clear: left;
        margin-top: 60px;
        padding-bottom: 50px;

        #multi-cat-main {
            text-align: center;
            font-size: 24px;
            line-height: 30px;
            color: #D97652;
        }

        #multi-cat-sub {
            text-align: center;
            font-size: 16px;
            line-height: 20px;
            span {
                font-weight: 700;
                color: #D97652;
            }
            margin-bottom: 50px;
        }

        .multi-cat-img {
            margin-left: 15px;

            img {
                width: 380px;
            }
        }

        #multi-cat-continue {
            text-align: center;
            p {
                font-size: 18px;
                font-weight: 700;
            }
            button {
                width: 143px;
                height: 50px;
                p {
                    font-size: 16px;
                }
            }
        }
    }

    /* 지도 api */
    #map-api {
        margin-top: 50px;
        z-index: 0;
        margin-left: 30px;
        margin-bottom: 320px;
        position: relative;

        #map-main {
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 35px;
        }
        #map-sub {
            font-weight: 500;
            color: #606367;
            margin-bottom: 35px;
        }

        #map {
            width: 326px;
            height: 132px;
            border-radius: 12px;
        }
    }

    /*
    구독
    position: absolute 로 하단 고양이 사진과 위치를 겹친 뒤
    left, bottom 속성으로 세부 위치 조정
    */
    #subscribe {
        background-color: #263140;
        width: 326px;
        height: 348px;
        border-radius: 18px;
        position: absolute;
        bottom: 175px;
        left: 30px;

        #sub-text {
            margin-left: 32px;

            #sub-main {
                color: #FFFFFF;
                margin-top: 36px;
                margin-bottom: 20px;
                font-size: 24px;
                font-height: 30px;
            }

            #sub-sub {
                color: #F2E9D8;
                font-size: 14px;
                font-height: 18px;
            }
        }

        #enter-email {
             float: right;
             background-color: #FFFFFF;
             border-radius: 60px;
             width: 262px;
             height: 40px;
             margin-top: 20px;
             margin-right: 40px;
             position: relative;

             #email-img {
                position: absolute;
                margin-top: 8px;
                 margin-left: 20px;
                 margin-right: 5px;
             }

             #email {
                width: 144px;
                margin-top: 10px;
                margin-left: 60px;
                border: none;
             }

             #sub-btn {
                width: 115px;
                height: 40px;
                font-size: 14px;
                margin-top: 40px;
                margin-left: 145px;
             }
        }

    }

    /* 하단부 고양이 이미지 */
    #crop-image {
        width: 390px;
        height: 240px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }

}

/* 메인 종료 */


/* 모달창 */
.modal {
    display: none;
    z-index: 1;


    /* 페이지 내부에서의 위치 조정 */
    position: fixed;
    top: 300px;
    left: 45px;

   #modal-contents {
        width: 300px;
        height: 300px;
        background-color: #F2E9D8;
        border-radius: 30px;

        #modal-bgr {
            border-radius: 30px;
               position: relative;
               width: 100%;
               height: 200px;
               z-index: 1;
        }

            #modal-cat {
                position: absolute;
                z-index: 2;
                width: 60px;
                height: 62px;
                top: 50px;
                left: 115px;

            }

            #modal-main-text {
                position: absolute;
                font-size: 24px;
                z-index: 2;
                color: #D97652;
                top: 110px;
                left: 90px;
            }

            #modal-sub-text {
                position: absolute;
                z-index: 2;
                font-size: 14px;
                text-align: center;
                top: 160px;
                left: 58px;
            }

            .close-btn {
                position: absolute;
                z-index: 2;
                width: 158px;
                height: 40px;
                font-size: 14px;
                top: 230px;
                left: 70px;
            }
   }
}

/*
modal 에 이 on class 가 추가되었을 때 보여지도록 한다.
(css + js)
*/
.modal.subOn {
    display: block;
}




/* 푸터 시작 */

footer {
    height: 178px;
    width: 390px;
    position: relative;

    #footer-menu {
        float: right;
        margin-top: 15px;

        ul>li {
            font-size: 14px;
            margin-top: 20px;
            color: #767676;
        }

        text-align: right;
    }

    #footer_logo {
        display: inline-block;
        margin-top: 30px;
        margin-left: 20px;
    }

    #footer-social {
        display: inline-block;
        #icon-list {
            padding: 0;
            margin-top: 60px;
            margin-left: 12px;
        }

        /* block 수평 정렬 */
        ul>li {
            display: inline-block;
            position: relative;
            margin: 8px;
        }

        /* 아이콘 겹치기 */
        .background-icon {
                z-index: 1;
                width: 32px;
                height: 32px;
        }
        .social-icon {
                position: absolute;
                top: 7px;
                left: 7px;
                z-index: 2;
                width: 18.29px;
                height: 18.29px;
        }
    }

}

/* 푸터 종료 */